<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
  <div class="flex gap-2 items-center">
    <div class="appinput">
      <%= form.text_area :commenter, placeholder: "..." %>
    </div>
    <%= form.submit "Envoyer", class: "btn btn-primary" %>
  </div>
<% end %>