<tr>
  <td><%= user.nom %></td>
  <td><%= user.prenom %></td>
  <td class="flex gap-4 justify-center">
    <%= link_to "Voir le profile", user, class: "btn btn-primary" %>
    <%= link_to 'Modifier', edit_user_path(user), class: "btn btn-primary" %>
  </td>
</tr>
