<%= render "users/index/action" %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Prénom</th>
      <th></th>
    </tr>
  </thead>

  <%= render @users %>
</table>
