<h3>Recherchez un article :</h3>
<%= form_with model: @article, local: true,method: :get, class: "mb-4" do |form| %>
  <div class="flex gap-4">
    <div class="appinput">
      <%= form.text_field :titleSearch, placeholder: "Recherche..." %>
    </div>
    <%= form.submit :Recherchez, class: "link" %>
  </div>
<% end %>