@tailwind base;
@tailwind components;
@tailwind utilities;

/*
@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}
*/

form {
  width: fit-content;
}

h1 {
  @apply font-bold text-xl;
}

.btn {
  @apply font-bold py-1 px-4 rounded inline-flex items-center;
}

.btn-primary {
  @apply bg-blue-500 text-white;
}

.between {
  @apply w-full flex justify-between items-baseline;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

.link {
  @apply text-blue-500 font-bold cursor-pointer;
}

.appinput > input {
  @apply bg-slate-100 rounded border-slate-100;
  &:focus {
    @apply border-slate-400;
    box-shadow: none;
  }
}

.table {
  table-layout: auto;
  width: 100%;
}

table > thead > tr {
  @apply bg-slate-200;
}

th,
td {
  @apply border-slate-200 border p-4;
}
